body {
  margin: 0;
  background: #333;
  color: #74d7fd;
  width: 100vw;
  height: 100vh;
  /* text-align: center; */
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  height: auto;
}

.title {
  /* margin-top: 300px; */
  font-size: 4rem;
}

.tip {
	font-size: 1.4rem;
}
